@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e4e4e7;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #0f1a2e;
  padding: 0 1px;
  letter-spacing: 0.1em;
}

input:focus ~ label,
textarea:focus ~ label {
  color: #be8f41;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #0f1a2e inset;
  -webkit-text-fill-color: #fff;
}
